fastapi==0.109.2
uvicorn==0.34.0
python-dotenv==1.0.1
pydantic==2.10.6
websockets==10.4
openai>=1.58.1,<2.0.0
langchain-core==0.3.47
langchain-openai==0.3.1
langsmith==0.3.13
browser-use==0.1.40
anyio==4.7.0
httpx==0.28.1
pyautogui==0.9.54
pygetwindow==0.0.9
typing_extensions
selenium==4.21.0
pywin32==310
pillow==10.0.0
langchain==0.3.21
langgraph==0.0.47
langmem==0.0.8
pygetwindow
psutil
langchain-community
langchain-mcp>=0.2.1
langchain-mcp-adapters>=0.0.11
langchain-xai
langchain-google-genai
posthog
click
markdownify
langchain-core
langchain-anthropic
flask